# Testing & Quality
pytest==8.3.5
pytest-cov==4.1.0
ruff==0.4.4
coverage==7.5.3

# Core Dependencies
networkx==3.4.2
rich==13.7.1
textdistance==4.6.1
python-dotenv==1.0.1
click==8.1.8
typing_extensions==4.13.1
gitpython==3.1.43

# CLI/TUI Essentials
pygtrie==2.5.0
curses-menu==0.9.0  # Versión actualizada